body{
    background-color: black;
    background-image: url("./img/brazos.jpg");
    background-position: center;
}
header{
    margin-bottom: 10px;
}
.btn {
    border-radius: 50px;
    border: 1px solid #FFA500;
    color: white;
    font-weight: bold;
    margin-left:10px;
    
}

.btn:hover {
    background-color: #CC9329;
    transition: 0.5s;
    color: #010101;

}


#nav{
    opacity: 1;
    background-color:#000000;
    color:white;
    border: 2px solid #FFA500;
}
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
.navbar-brand:hover{
    color: #FFA500;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show  {
    color: white;
}
.nav-link, .dropdown-toggle{
    color: white;
}
.nav-link:hover, .dropdown-toggle:hover{
    color: #FFA500;
}
.nav-link:focus, .dropdown-toggle:focus{
    color: white;
}
.nav-link.disabled, .nav-link:disabled {
    color: white;
    opacity: 80%;
    pointer-events: none;
    cursor: default;
}
.dropdown-menu {
--bs-dropdown-bg: #FFA500;
}
.footer {
    background-color: #99793D;
    color: #000000;
    padding: 20px 0;
    margin-top: 10px;
  }
  
  .contenedorFooter {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  #nombre {
    margin-bottom: 0;
    
  }
#atom{
    margin-left: 7%;
    width: 149px;
    height: 121px;
}
.shadow{
    background-color: #CC9329;
}
.card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);

}
.card-body{
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}



p{
    margin-bottom: 0;
  font-family: 'Poppins', sans-serif; /* Usar la fuente Poppins */
  font-size: 18px;
  color: #ffffff;
  font-weight:lighter;
}
.fondo{
    background-color: antiquewhite;
}
.fotoPerfil{
    width: 10%;
    height: 10%;
    background-color: aqua;
    border-radius: 50%;
    border: 2px solid #FFA500;
}
