
.header{
    font-family: 'Outfif', sans-serif;
    text-align: center;
    
}
.footer {
    background-color: #99793D;
    color: #000000;
    padding: 20px 0;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }


h2{
    color:#FFA500;
}
.container  {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-image: url("./img/fondo.png");
}

label {
    height: 80%;
    width: 80%;
    color: white;
    
}
.form-control{
    border: 3px solid #FFA500;
}


.col {
    width: 30%;
    display: flex;
    justify-content:space-between;
    /* padding-bottom: 2%; */
}

.btn {
    border-radius: 50px;
    border: 1px solid #FFA500;
    color: white;
    font-weight: bold;
    
}

.btn:hover {
    background-color: #CC9329;
    transition: 0.5s;
    color: #010101;
}

a{
    text-decoration: none;
    color: inherit;
}



.alerta {
        padding-top: 3%;
        /* Resto de tus estilos personalizados */
}
#nombre{
    margin-bottom: 0%;
    text-align: left;
}



    
