RewriteEngine on

# Escribir una regla para el servidor apache que traduzca la URL
# entrenamientos/info/2
# En la URL real:
# entrenamientos/info.php?id=2
#
# RewriteRule ^expresion_regular$ url_real [flags_opcionales]

##RewriteRule ^./$ index.php?m=entrenamiento&f=listado

RewriteRule ^$index.php?m=usuario&f=showLogin [L]

RewriteRule ^logout$ index.php?m=usuario&f=logout [L]
RewriteRule ^main$ index.php?m=musculo&f=listado [L]
RewriteRule ^usuario/eliminar/([1-9][0-9]*)$ index.php?m=usuario&f=eliminar&id=$1 [L]
RewriteRule ^registro$ index.php?m=usuario&f=showregistro [L]
RewriteRule ^registroUsuario$ index.php?m=usuario&f=registro [L]

RewriteRule ^eliminarCuenta$ index.php?m=usuario&f=eliminar [L]
RewriteRule ^modificarUsuario$ index.php?m=usuario&f=showModificarUsuario [L]
RewriteRule ^modificarUsuarioDatos$ index.php?m=usuario&f=modificarUsuario [L]
RewriteRule ^cerrarSesion$ index.php?m=usuario&f=cerrarSesion [L]






RewriteRule ^info/([1-9][0-9]*)$ info.php?id=$1 [L]


